@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 16px 16px 0;
  font-size: 16px;
  color: #58555e;
  background: #121212;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

span, i {
  transition: 0.5s;
}


/*--------------nav------------*/
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 16px 16px 0;
  background: #1c1c1c;
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: 100;
  transition: 0.5s;
}

.nav_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 48px;
  overflow: auto;
  scrollbar-width: none;
}

.nav_container::-webkit-scrollbar {
  display: none;
}

.nav_logo {
  font-weight: 600;
  margin: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.logo_name {
  display: flex;
}

.logo_name i {
  font-size: 25px;
  margin-right: 10px;
  color: #ff0000;
}

.nav_list,
.nav_items {
  display: grid;
}

.nav_list {
  row-gap: 40px;
}

.nav_items {
  row-gap: 24px;
}

.nav_link {
  display: flex;
  align-items: center;
  color: #fff;
}

.nav_link:hover {
  color: #ff0000;
}

.nav_icon {
  width: 40px;
  font-size: 19px;
}

.nav_name {
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
}

.nav_subititle {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a5a1aa;
}

/*----------nav_dropdown  */
.nav_dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: 0.5s;
}

.nav_dropdown-collapse {
  background-color: #232323;
  border-radius: 4px;
  margin-top: 16px;
}

.nav_dropdown-content {
  display: grid;
  row-gap: 8px;
  padding: 10px;
}

.nav_dropdown-item {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.nav_dropdown-item:hover {
  color: #ff0000;
}

.nav_dropdown-icon {
  margin-left: auto;
  transition: 0.5s;
}

.nav_dropdown:hover {
  min-height: 100rem;
}

.subscribe {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  padding: 5px;
}

.nav_dropdown-items,
.nav_dropdown-second {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.navtop .nav_link:nth-child(4) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
}

.subscribe-container {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
}

.show-menu {
  left: 0;
}

.active {
  color: #ff0000;
}

/*----------nav_dropdown   */
/*--------------nav------------*/



  header {
    padding: 0 48px 0 96px;
  }

  header .header_container {
    height: calc(56px + 8px);
  }

  header .search {
    width: 300px;
    padding: 9px 12px;
  }

  header .toggle {
    display: none;
  }

  header .logo {
    display: block;
  }

  header .img {
    width: 40px;
    height: 40px;
    order: 1;
  }

  .nav .nav_items {
    row-gap: 27px;
  }

  .nav {
    left: 0;
    padding: 19px 24px 0;
    width: 88px;
  }

  main {
    padding-top: 20px;
    padding-left: 0;
  }

  .nav:hover {
    width: 265px;
  }

  .nav .nav_subititle,
  .nav .logo_name,
  .nav .nav_dropdown-icon,
  .nav .navtop .nav_link:nth-child(4),
  .nav .subscribe-contain {
    opacity: 0;
    transition: 0.5s;
  }

  .nav:hover .nav_subititle,
  .nav:hover .logo_name,
  .nav:hover .nav_dropdown-icon,
  .nav:hover .navtop .nav_link:nth-child(4),
  .nav:hover .subscribe-contain {
    opacity: 1;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (max-width:420px) {
  header .search {
    width: 70%;
  }

  header .none,
  header .user {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  main {
    padding-top: 20px;
    padding-left: 50px;
  }
}

@media screen and (min-width:1080px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}
.adds2{
               margin-top: 10px;
               margin-left:10px;
          }
          .adds2 img{
               width:62rem;
               margin:0;
               padding:0;
               margin-left:-5px;
               margin-right:-5px;
          }
          .video3{
               width:100%;
          }
          .main-main{
               margin-left:85px;
               color:white;
          }
          .flex{
               display:flex;
               margin-left:100px;
          }
          .bottom{
               display:flex;
               margin-top:10px;
               margin-left:2px;
          }
          .tags{
               color:blue;
          }
          .icon{
               margin-right:15px;
               display:column;
               justify-content:center;
               aligh-items:center;
          }
          .spam{
               margin-left:35px;
          }
          .sub{
                    margin:5px;
                    padding:5px;
                    margin-left:20px;
                    background:red;
                    color:black;
                    border-radius:8px;
               }
